.outer-div {
    background-color: red;
    height: 400px;
    width: 60%;
    margin: auto;

}
.phase {
    background-color: green;
    height: 80px;
}

.header-btn {
    padding-top: 25px;
    margin: auto;
}

.header-row .header-btn {
    text-align: rightrgb(59, 62, 62);
    
}
.header-btn button {
    width: 50%;
    

}

.header-btn>button:hover {
    background-color: rgb(65, 70, 223);
    font-weight: bold;
    width: 60%;
}